



.estilogeneral{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgb(188, 117, 206), #fdb9b9, #8A2BE2);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }



    .estilogeneralheader{
        background: linear-gradient(to bottom, #fdb9b9, #8A2BE2, #d8b9f5);
        color: #000000;
    padding: 10px;
    text-align: left;
    }



    .estilonav{
    background: linear-gradient(to bottom, #d8b9f5, rgb(188, 142, 231), #fdb9b9);
    color: #000000;
    border-radius: 10px; 
    padding: 10px;
    text-align: left;
    flex: 0 0 auto;

    }

    .sobre-mi {
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border-radius: 20px; 
    background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
    opacity: 0.8; 
    flex: 0 0 auto;   

    }   





    .estilo-barra {
        text-decoration: none;
        color: #8A2BE2; 
    }
    .estilo-barra:hover {
        color: #3e1464; 
    }



    .main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    }



.estilo-footer{
    background: linear-gradient(to bottom, #d8b9f5, rgb(188, 142, 231), #fdb9b9);
    font-style: oblique;
    color: #000000;
    text-align: start;
    border-radius: 20px;
    padding: 10px;
    flex: 0 0 auto;
}



    .table{
    width: 100%;
    margin-bottom: 20px;
    background: linear-gradient(to bottom, #d8b9f5, rgb(188, 142, 231), #fdb9b9);
    border-radius: 30px;
    overflow: hidden;
    text-align: justify;
    }



@media only screen and (max-width: 600px) {
    main {

        padding: 10px;
    }
}